<div class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= image_tag "popcorn_time_icon_by_anthonycy-db388lk.png", width: 40 %>
    <ul class="nav">
      <li class="nav-item">
        My lists
      </li>
      <li class="nav-item">
        New list
      </li>
    </ul>
  </div>
</div>
<div class="container mt-3">
  <h1>All lists</h1>
  <%= link_to "Create list", new_list_path %>
  <ol>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list.id) %>
    </li>
  <% end %>
  </ol>
</div>