<div class="container mt-3">
  <h1>All lists</h1>
  <%= link_to "Create list", new_list_path %>
  <ol>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list.id) %>
    </li>
  <% end %>
  </ol>
</div>