<%= render "shared/navbar" %>

<div class='banner' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('movie_theater.jpg') %>);">
  <div class="container text-center">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>

<div class="container col-8 mt-5">
  <div class="row">
    <div class="col-md-4">
      <h2>My lists</h2>
    </div>
    <div class="col-md-4 ms-auto">
      <%= link_to "Create a movie list",  new_list_path, class: %w[ btn btn-success text-white] %>
    </div>
  </div>
  <div class="row">
    <ol>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list.id) %></li>
    <% end %>
    </ol>
  </div>
</div>