<div class="container mt-3">
  <h1>All lists</h1>
  <%= link_to "Create list", new_list_path %>
  <ol>
  <% @lists.each do |list| %>
    <li>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(list.photo.key, width: 300, crop: :fill) unless list.photo.key.nil? %>)">
        <%= link_to list.name, list_path(list.id) %>
      </div>
    </li>
  <% end %>
  </ol>
</div>