<div class='banner' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('movie_theater.jpg') %>);">
  <div class="container text-center">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>
